/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Oswald, sans-serif;
    background-color: #9c9c9c;
    font-size: 20px;
}

/* Game area */

.quiz-game-area {
    position: absolute;
    background-color: #00ffee;
    top: 30%;
    left: 42%;
    z-index: 1;
    height: 35vh;
    border: 2px solid;
    padding: 3px 3px 3px 3px;
}

.next-q {
    position: absolute;
    bottom: 0;
    left: 30%;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Score area */

.score-area {
    position: absolute;
    background-color: #00ffee;
    top: 30%;
    left: 42%;
    height: 35vh;
    border: 2px solid;
    padding: 3px 3px 3px 3px;
}

.restart {
    position: absolute;
    bottom: 0;
    left: 30%;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Footer Area */

footer {
    position: fixed;
    top: 70%;
    margin-left: 42%;
}

/* Media queries */

@media screen and (max-height: 920px) {
    body {
        font-size: smaller;
    }

    .quiz-game-area, .score-area {
        top: 20%
    }

    footer {
        top: 60%
    }
}

@media screen and (min-width: 1430px) {
    body {
        font-size: 25px;
    }

}